/* Importation des polices Roboto */


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.navLinks{
    list-style-type: none;
    display: flex;
}

li{
    padding: 2rem;
    font-size: small;
}

#burger{
    width: 2vw;
    height: 2vw;
    background-color: rgb(43, 43, 43);
    padding: 1vw;
}

#navbar{
    display: flex;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

#panierContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#panier{
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: end;
}

#login{
    padding-left: 3vw;
    font-size: small;
}





.rechercher {
    display: flex;
    padding-bottom: 5vw;
   
    
}


.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    border: none; 
    padding: 1vw; 
    font-size: 1vw;
    outline: none; 
    width: 60vw;
    border-bottom: 0.1vw solid #010a13; 
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 3vw; 
}

#icon {
    width: 2.5vw; 
    height: auto;
    vertical-align: middle; 
}

#fltr {
    text-align: left; 
    color: rgb(155, 153, 153); 
    font-weight: normal; 
    padding-left: 2vw; 
    font-size: 0.6vw; 
    width: 20%;
}

.liste{
    list-style-type: none;
    text-align: left; 
    color: rgb(100, 100, 100); 
    font-weight: normal; 
    padding-left: 2vw;
    font-size: 1vw;
    padding-top: 1px;
    width: 20%;
}

.liste li {
    padding: 1.5vw 0; 
    width: 20%;
   

}
.liste li::after {
    content: ""; 
    display: block;
    width: 20%; 
    margin: 5px 0 0; 
    position: absolute; 
    left: 3; 
}




.price-slider {
    margin: 2vw;
    width: 20%;
}

.slider-container {
    position: relative;
}

input[type="range"] {
    width: 15vw; 
    -webkit-appearance: none; 
    appearance: none;
    background: #bebcbc; 
    height: 0.5vh; 
    border-radius: 0.3vh; 
    position: absolute;
    top: 0; 
    z-index: 2; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 1vw; 
    height:1vw; 
    background: #0e0e0e; 
    border-radius: 50%; 
    cursor: pointer;
    position: relative;
    z-index: 2;
   
}

input[type="range"]::-moz-range-thumb {
    width: 1vw; 
    height: 1vw; 
    background: #d8dce1; 
    border-radius: 50%; 
    cursor: pointer; 
}

.price-values {
    margin-top: 5vh; 
    font-size: 0.3;
    color: #a5a6a7;
}

#prix{
   color: #726f6f;
   font-weight: normal;
    font-size: 1vw;


}



.Images {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    padding-bottom: 0vw;
}

.image-row, .img-below {
    display: flex; 
    gap: 10px; 
    margin-bottom: 10px; 
    padding-bottom: 5vw;
}

.Images img {
    width: 20vw;
    height: auto; 
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
    bottom: 0;}
    

    
.content {
        flex-grow: 1; }
.page-number, .next-page {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Sen', sans-serif;
    font-weight: 600;}
    
.page-number.active {
    background-color: #2e2e2e;
    color: #fff;}

